<% if (endoso != "") { %>
  <div class="span12" style="width:100%">
    <div class="text-center" style="width:50%; float: left;">
      <%= endoso %> <br>
      ENDOSADO A
    </div>
    <div class="text-center" style="width:50%;">
      ___________________________ <br>
      AUTORIZACION BODEGA
    </div>
  </div>
<% } else { %>
  <div class="span3 text-center">
    ___________________________ <br>
    AUTORIZACION BODEGA
  </div>
<% } %>
