<div class="" style="margin-top: 300px;">
	<h4 class="text-center"><strong>SERVICIOS E INVERSIONES SANTA FE, S.A. DE C.V.</strong></h4>
	<div class="fila" id="encabezado">
		<div class="esp30">
			<div style="position: absolute; left:0; right: 0; top: 0; bottom: 0;">
				<img src="<?php echo base_url('images/clg/logoclg.png');?>" style="width: 50mm; height: 23mm; margin: 0;" />
			</div>
		</div>
		<div class="esp30">
			
		</div>
		<div class="esp30 text-right" style="float: right; margin-right: 10px;">
			<label><?php echo date('d/m/Y', strtotime($general[0]['fecha'])); ?></label>
		</div>
	</div>
</div>